Language: Cpp
BasedOnStyle: Google
Standard: Auto

ColumnLimit: 100
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Right
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackArguments: false
InsertNewlineAtEOF: true
BreakBeforeBinaryOperators: NonAssignment
