Language: Cpp
BasedOnStyle: Google
Standard: Auto

ColumnLimit: 100
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Right
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: false
SpacesBeforeTrailingComments: 1
InsertNewlineAtEOF: true
BreakBeforeBinaryOperators: NonAssignment
